{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        '@JocondeLabBundle/Resources/Public/css/list.sass'
        filter="cssrewrite,sass" output='css/list.css' %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    <script>
        
    </script>
{% endblock %}

{% block search %}
    {{search}}
{% endblock %}

{% block body %}
    <div class="page-list">
        {% include 'JocondeLabBundle:Notice:ajax.list.html.twig' %}
    </div>
{% endblock %}

{% block hoverNotice %}
    <div class="notice-hover">
    </div>
{% endblock %}

{% block javascripts %}
        {% javascripts
            '@JocondeLabBundle/Resources/public/js/session-favorite.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
{% endblock %}
