@import style

button
    border: none
    background: none
    padding: 0

.page-list
    margin: 0 auto
    width: 1000px

.question
    min-width: 100px
    width: 190px
    text-transform: uppercase
    p
        font-size: 3em
    button
        margin-left: 5px
        &:hover
            color: red

.item
    margin:
        bottom: 10px
        right: 10px

.imgHeight
    width: 190px

.imgWidth
    width: 390px

.item-hover
    width: auto
    height: auto
    position: absolute
    bottom: 3px
    right: 0
    background-color: red
    p
        text-align: right
        text-transform: capitalize
    button
        position: absolute

.notice-hover
    width: 400px
    height: 100px
    background-color: blue
    position: absolute
    right: 0
    top: 0
    img
        width: 60%