@import reset

ul
    list-style-type: none
    li
        width: 410px
        float: left
        img
            width: 200px
            height: 200px
        div
            float: right
            width: 200px
