@import reset

input  
    outline: none

.search
    border: none
    font-size: 20px

.ui-widget-content
    border: none !important
    background-color: none !important

.ui-menu-item
    a
        color: green

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
    background: none
    border: none
    color: red

ul
    list-style-type: none
    li
        width: 410px
        float: left
        img
            width: 200px
            height: 200px
        div
            float: right
            width: 200px
