@import style

input  
    font-family: 'BebasNeue'
    outline: none
    color: $black
    text-decoration: underline
    width: 90%
    text-align: center

form
    margin: 0 auto
    text-align: center
    button
        border: none
        background: none
        i
            font-size: 2em
            color: $black

.search
    border: none
    font-size: 2em

.ui-widget-content
    border: none !important
    background-color: none !important
    padding: 0
    font-family: 'BebasNeue'
    color: grey !important
    z-index: 1

.ui-menu-item
    a
        color: grey
        padding: 0 !important
        font-size: 2em

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
    background: none
    border: none
    color: grey
    padding: 0 !important

@media screen and (max-width: 480px)
    .search
        width: 65%
    .ui-widget-content
        padding-left: 15px
