@import style

input  
    outline: none

form
    margin: 0 auto
    text-align: center
    button
        border: none
        background: none
        i
            font-size: 2em

.search
    border: none
    font-size: 2em

.ui-widget-content
    border: none !important
    background-color: none !important
    padding: 0

.ui-menu-item
    a
        color: #000
        padding: 0 !important
        font-size: 2em

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
    background: none
    border: none
    color: grey
    padding: 0 !important