@import variable
@import reset
@import bootstrap/lib/mixins
@import bootstrap/lib/normalize
@import bootstrap/lib/variables
@import bootstrap/lib/glyphicons

*:focus
    outline: none
    box-shadow: none !important

html, body
    width: 100%
    height: 100%

a
    text-decoration: none

i
    margin-right: 10px


.myGlyphicon
    font-size: 200%

/* ---------- CONTAINER --------- */
.container
    position: relative
    overflow: hidden
    box-sizing: border-box

/* ---------- MENU --------- */
.mp-level
    background-color: white
    color: $blue
    font-size: 2em
    font-family: 'BebasNeue'
    p
        text-align: center
        font-size: 1.5em
        padding: 
            top: 15px
            bottom: 15px
    ul
        li
            width: 100%
            height: 50px
            padding-left: 10%

/* ---------- PAGE --------- */
.header
    width: 100%
    padding: 10px
    i
        color: #000
    a
        display: inline-block
    p
        display: inline-block
        width: 90%
        text-align: center
        font-family: 'BebasNeue'
        font-size: 3em
        text-transform: uppercase
        color: $black

.page
    width: 100%
    position: relative