// for glyphicon
$icon-font-path: "/bundles/jocondelab/css/bootstrap/fonts/"

// color
$pink: #cd797d
$blue: #546b90

// font face
@font-face
    font-family: 'BebasNeue'
    src: url("/bundles/jocondelab/font/BebasNeue.otf")