// for glyphicon
$icon-font-path: "/bundles/jocondelab/css/bootstrap/fonts/"

// color
$pink: #ff5572
$blue: #7d8cff
$grey: rgba(85, 85, 85, 0.6)
$black: #555555

// font face
@font-face
	font-family: 'BebasNeue'
	src: url("/bundles/jocondelab/font/BebasNeue.otf")

@font-face
	font-family: 'AGaramondProRegular'
	src: url("/bundles/jocondelab/font/AGaramondPro-Regular.otf")

@font-face
	font-family: 'AGaramondProItalic'
	src: url("/bundles/jocondelab/font/AGaramondPro-Italic.otf")

// sprite for picto menu
.picto_newrecherche, .picto_newrecherche_hover, .picto_selection, .picto_selection_hover, .picto_ajoute_ok, .picto_ajoute_deja, .picto_menu_hover, .picto_menu, .picto_chercher_hover, .picto_chercher, .picto_apropos, .picto_apropos_hover
	background: url("/bundles/jocondelab/images/sprites_menu.png") no-repeat
	display: block

.picto_newrecherche
	background-position: -12px -17px
	width: 176px
	height: 32px

.picto_newrecherche_hover
	background-position: -12px -64.98750305175781px
	width: 176px
	height: 32px


.picto_selection
	background-position: -200.00001525878906px -17px
	width: 176px
	height: 32px


.picto_selection_hover
	background-position: -199px -65.00000381469727px
	width: 176px
	height: 32px

.picto_ajoute_ok
	background-position: -13px -116px
	width: 32px
	height: 32px

.picto_ajoute_deja
	background-position: -66px -116px
	width: 32px
	height: 32px

.picto_menu_hover
	background-position: -213px -116px
	width: 32px
	height: 32px

.picto_menu
	background-position: -263px -115px
	width: 32px
	height: 32px

.picto_chercher
	background-position: -164px -116.00001525878906px
	width: 32px
	height: 32px

.picto_chercher_hover
	background-position: -116px -116px
	width: 32px
	height: 32px

.picto_apropos
	background-position: -397.40000915527344px -16px
	width: 176px
	height: 32px

.picto_apropos_hover
	background-position: -397.9875030517578px -65.00001525878906px
	width: 176px
	height: 32px

// picto for notice
.picto_agrandir_hover, .picto_agrandir, .picto_ajouter_hover, .picto_ajouter, .picto_close_hover, .picto_close, .picto_oeil_hover, .picto_oeil
	background: url("/bundles/jocondelab/images/sprites_notice.png") no-repeat
	display: block

.picto_agrandir_hover
	background-position: -362.00001525878906px -15px
	width: 32px
	height: 32px

.picto_agrandir
	background-position: -310px -16.000015258789062px
	width: 32px
	height: 32px

.picto_close_hover
	background-position: -164.00001525878906px -16.000015258789062px
	width: 32px
	height: 32px

.picto_close
	background-position: -116.00001525878906px -17.000015258789062px
	width: 32px
	height: 32px

.picto_oeil_hover
	background-position: -76px -28.000015258789062px
	width: 20px
	height: 20px

.picto_oeil
	background-position: -26px -27.000015258789062px
	width: 20px
	height: 20px

.picto_ajouter
	background-position: -223px -27.000015258789062px
	width: 20px
	height: 20px

.picto_ajouter_hover
	background-position: -272px -27.000015258789062px
	width: 20px
	height: 20px

@media screen and (max-width: 1024px)
	.picto_ajouter, .picto_oeil, .picto_oeil_hover, .picto_ajouter_hover, .picto_close_hover, .picto_close
		background: url("/bundles/jocondelab/images/sprites_notice_mobile.png") no-repeat
		display: block

	.picto_ajouter
		background-position: -116px -18.000015258789062px
		width: 32px
		height: 32px

	.picto_oeil
		background-position: -17px -17.000015258789062px
		width: 32px
		height: 32px

	.picto_oeil_hover
		background-position: -66px -18.000015258789062px
		width: 32px
		height: 32px

	.picto_ajouter_hover
		background-position: -165px -19.000015258789062px
		width: 32px
		height: 32px

	.picto_close_hover
		background-position: -265px -17.000015258789062px
		width: 32px
		height: 32px

	.picto_close
		background-position: -214px -17.000015258789062px
		width: 32px
		height: 32px

	.picto_corbeille, .picto_corbeille_hover, .picto_enlever_hover, .picto_enlever
		background: url("/bundles/jocondelab/images/sprites_corbeille_mobile.png") no-repeat
		display: block

	.picto_corbeille
		background-position: -16px -15px
		width: 32px
		height: 32px

	.picto_corbeille_hover
		background-position: -66px -18.000003814697266px
		width: 32px
		height: 32px

	.picto_enlever_hover
		background-position: -165px -16px
		width: 32px
		height: 32px

	.picto_enlever
		background-position: -116px -16px
		width: 32px
		height: 32px
